<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>locale_AA.png</string>
			<key>Script Interpreter</key>
			<string>/bin/bash</string>
			<key>Shell Script File</key>
			<string>translate_encode.sh</string>
			<key>Title</key>
			<string>PAPAGO Encode</string>
		</dict>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>locale_BB.png</string>
			<key>Script Interpreter</key>
			<string>/bin/bash</string>
			<key>Shell Script File</key>
			<string>translate_decode.sh</string>
			<key>Title</key>
			<string>PAPAGO decode</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://www.guileschool.com</string>
			<key>Name</key>
			<string>guile hong</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Percent-encode or decode the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.guileschool.popclip.extension.papago</string>
	<key>Extension Name</key>
	<string>papago translate</string>
</dict>
</plist>
